# Ignore node_modules folder
__pycache__
.vscode/


# Ignore Python cache files
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info

docs/html/*
docs/build/*
docs/doctrees/*
docs/_build/

.claude/    
.codex/
.continue/

src/EarthSHAB/balloon_data/*
!src/EarthSHAB/balloon_data/SHAB14V-APRS.csv

src/EarthSHAB/forecasts/*
!src/EarthSHAB/forecasts/gfs_0p25_20220822_12.nc
!src/EarthSHAB/forecasts/SHAB14V_ERA5_20220822_20220823.nc

evaluation/batches/*
evaluation/comparisons/*
evaluation/launches.json