# Ignore node_modules folder
__pycache__
.vscode/


# Ignore Python cache files
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info

docs/html/*
docs/build/*
docs/doctrees/*
docs/_build/

.claude/    
.codex/
.continue/