backports.statistics==0.1.0
#cfgrib==0.9.15.1
fluids==1.1.0
geographiclib==2.0
gmplot==1.4.1
matplotlib==3.10.8
netCDF4==1.7.4
numpy==2.2.6
pandas==3.0.2
pytest==9.0.2
pytz==2024.2
Requests==2.33.1
scipy==1.17.1
seaborn==0.13.2
setuptools==80.10.2
termcolor==3.3.0
xarray==2026.2.0

backports.datetime_fromisoformat