backports.statistics==0.1.0
fluids==1.1.0
geographiclib==2.0
gmplot==1.4.1
matplotlib==3.8.2
netCDF4==1.7.2
numpy==1.23.0
pandas==1.5.0
pytz==2023.4
scipy==1.8.0
seaborn==0.13.2
termcolor==3.1.0
xarray==2024.1.1

backports.datetime_fromisoformat
